html, body {
    height: 100%;
    padding: 10px;
    background-color: paleturquoise;
}

.box{
    height: 100%;
    width: 100%;
    opacity: 0.8;
    background-color: ghostwhite;
}

#main {
    height: 100%;
    width: 100%;
}

.contentRow {
    margin-right: 0px;
    margin-left: 0px;
    height: 85%;
    width: 100%;
}

.contentRow > div {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.titleText {
    height: 10%;
    text-align: center;
    padding: 10px;
}

.footButton {
    padding: 5px;
    height: 10%;
}

.centerButton {
    margin: auto;
    display: block;
}

.maxSize {
    height: 100%;
    width: 100%;
}

.textArea {
    height: 75%;
    width: 100%;
    resize: none;
}

.tabBar {
    margin: 0;
    padding: 10px;
    height: 10%;
    width: 100%;
}

.tabButton {
    width: 110px;
}

.skillTextArea {
    width: 100%;
    resize: none;
}

#textButton {
    font-size: 1.2rem;
    opacity: 1;
}

#urlButton {
    font-size: 1rem;
    opacity: 0.3;
}

#skillGroup {
    overflow-y: auto;
}

#chart_div {
    height: 40%;
    width: 60%;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
